
/*
 * Globals
 */

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif,Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 1.0em;  line-height: 1.6em;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
h1, .h1,h2, .h2{  margin-bottom: 0.3em; font-size: 26px;}

h3, .h3,h4, .h4{padding-top: 0.8em; }

.content-responsive h1{ padding-top: 1.0em; font-size: 24px;}
.content-responsive h2{ padding-top: 1.0em;font-size: 22px;}
.content-responsive h3{ padding-top: 0.8em;font-size: 20px;}
.content-responsive h4{ padding-top: 0.8em;font-size: 18px;}
.content-responsive h5{ padding-top: 0.5em;font-size: 16px;}
.content-responsive img{ max-width: 100%;}
.container ul{ margin-left: 20px; padding-left: 0px;}

pre{background-color: #f8f8f8;border-radius:0px;}   
#content-wrap{ padding-top:2.5em; padding-bottom: 2.5em;}

#index-container{ padding-top: 2.5em;}
#index-container h1{font-family: 'Myriad Pro','Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 2em;}
#index-container hr { margin-top: 2.0em; margin-bottom: 2.0em;}
#index-container h3,#index-container h4 { padding-top: 0;}
#index-container h2{ font-size: 22px; font-weight: bold; }
#index-container .btn:focus,
#index-container .btn:active:focus{
  outline: 0px;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px; 
  }
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #132f44;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}



/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 15px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  border: solid #dddddd;
  border-width: 1px;
}
.pager > li {
  margin: 2px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {

}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 20px 0 40px 0;
  color: #999;
  text-align: center;
  max-width: 970px;margin: 0 auto;
  border-top: 1px solid #eee;margin-top: 80px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Top Banner
 */
.top-banner {
    top: 0;
    left: 0;
    background-color: #ff00ff;
    width: 100%;
    height: 200px;
}



