<div class="container" id="content-wrap">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% for p in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{{ p.url }}">{{ p.title }}</a></h2>
                <p class="blog-post-meta">{{ p.date }} {% if p.cats.@count %}&nbsp;posted in {% /if %} {% for cat in p.cats %}
                    <a class='category' href='{{ cat.url }}'>{{ cat.name }}</a>&nbsp; {% /for %} {% if p.cats.@count %} {% /if %}
                </p>
                <div class="content-responsive">
                    {{ p.desContent }} {% if p.readMore.length %}
                    <a href="{{ p.url }}" class="more-link">继续阅读 &rarr;</a> {% /if %}
                </div>
            </div>
            <!-- /.blog-post -->
            {% /for %}
            <ul class="nav justify-content-center pager">
                    {% if prevPageUrl.length %}
                    <li class="nav-item"><a class="nav-link" href="{{ prevPageUrl }}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                    {% else %}
                    <li class="nav-item "><a class="nav-link disabled" href="#index"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                    {% /if %}
                    <li class="nav-item"><a class="nav-link" href="archives.html">归档</a></li>
                    {% if nextPageUrl.length %}
                    <li class="nav-item"><a class="nav-link" href="{{ nextPageUrl }}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link disabled" href="#index">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    {% /if %}
            </ul>
        </div>
        <!-- /.blog-main -->
        <!-- slider start -->