<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div>
            <h1 >一枝红杏</h1>
            <p >满园春色关不住，一枝红杏出墙来。</p>
            <p >
                <a class="btn btn-primary" href="http://order.yizhihongxing2017.com/aff.php?aff=9247" role="button">了解更多</a>
            </p>
        </div>
    </div>
</div>

<div class="container" id="content-wrap">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% for p in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ p.title }}</h2>
                <p class="blog-post-meta">{{ p.date }} {% if p.cats.@count %}&nbsp;posted in {% /if %} {% for cat in p.cats %}
                    <a class='category' href='{{ cat.url }}'>{{ cat.name }}</a>&nbsp; {% /for %} {% if p.cats.@count %} {% /if %}
                </p>
                <div class="content-responsive">
                    {{ p.desContent }} {% if p.readMore.length %}
                    <a href="{{ p.url }}" class="more-link">继续阅读 &rarr;</a> {% /if %}
                </div>
            </div>
            <!-- /.blog-post -->
            {% /for %}
            <ul class="nav justify-content-center pager">
                    {% if prevPageUrl.length %}
                    <li class="nav-item"><a class="nav-link" href="{{ prevPageUrl }}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                    {% else %}
                    <li class="nav-item "><a class="nav-link disabled" href="#index"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                    {% /if %}
                    <li class="nav-item"><a class="nav-link" href="archives.html">归档</a></li>
                    {% if nextPageUrl.length %}
                    <li class="nav-item"><a class="nav-link" href="{{ nextPageUrl }}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link disabled" href="#index">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                    {% /if %}
            </ul>
        </div>
        <!-- /.blog-main -->
        <!-- slider start -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
        <h4>分类</h4>
        {% for p in categoriesTree %}
            <a href="{{ p.url }}">{{ p.name }}&nbsp;({{ p.count }})</a><br>
        {% /for %}
    </div>
    <div class="sidebar-module">
        <h4>最近文章</h4> {% for p in recentPosts %} 
        {% if currentLoop.currentIndex < 10 %} <a href="{{ p.url }}">{{ p.title }}</a>
            <br /> {% /if %} {% /for %}
    </div>
</div>
<!-- /.blog-sidebar -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->