<script type="text/javascript">
$(function() {
    $('{{ post.url }}').addClass('active');
});
</script>
<div class="container markdown-body" id="content-wrap">
    <div class="row">
        <div class="col-sm-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{ post.date }} {% if post.cats.@count %}&nbsp;posted in {% /if %} {% for cat in post.cats %}
                    <a class='category' href='{{ cat.url }}'>{{ cat.name }}</a>&nbsp; {% /for %} {% if post.cats.@count %} {% /if %}
                </p>
                <div class="content-responsive" id="post-content">
                    {{ post.content }}
                </div>
                <div class="content-responsive post-footer">
                    <blockquote>
                        转载请注明出处：<a href="{{ siteURL }}{{ post.url }}">{{ pageTitle }}</a>
                        <p>欢迎关注我的微信公众号：王肖Plus
                            <br><img src="media/15196482316286/qrcode_for_weixin_public_account.jpg">
                    </blockquote>
                    <blockquote>我的博客会及时同步到腾讯云+社区，邀请大家一同入驻：
                        <br><a href="https://cloud.tencent.com/developer/support-plan?invite_code=mqbbongvgxmp" target="__blank">https://cloud.tencent.com/developer/support-plan?invite_code=mqbbongvgxmp</a>
                    </blockquote>
                </div>
            </div>
            <!-- /.blog-post -->
            <div class="share-comment">
                {{ commentAndShareCode }}
            </div>
        </div>
        <!-- /.blog-main -->
        <!-- slider start -->