<div class="col-sm-3 blog-sidebar">
    <!-- <div class="sidebar-module">
        <h4>科学上网</h4>
        <a href="http://order.yizhihongxing2017.com/aff.php?aff=9247" target="_blank">
            <img src="https://cdn.wxdut.com/asset/img/yzhx_232_215.jpg" >
        </a>
    </div> -->
    <div class="sidebar-module">
        <h4>分类</h4>
        {% for p in categoriesTree %}
            <a href="{{ p.url }}">{{ p.name }}&nbsp;({{ p.count }})</a><br>
        {% /for %}
    </div>
    <div class="sidebar-module" id="sidebar-recent-article">
        <h4>最近文章</h4> {% for p in recentPosts %} 
        {% if currentLoop.currentIndex < 10 %} <a href="{{ p.url }}">{{ p.title }}</a>
            <br /> {% /if %} {% /for %}
    </div>
    <div class="sidebar-module sidebar-toc" id="sidebar-toc" style="display: none;">
        <h4>目录</h4>
        <div id="toc" style="margin-left: -2em;"></div>
    </div>
    <div class="sidebar-module">
        <h4>公众号推荐</h4>
        欢迎关注我的公众号<br>一起愉快的交流。<br>
        <img src="media/15196551153713/qrcode_for_weixin_public_account.jpg">
    </div>
</div>
<!-- /.blog-sidebar -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->