<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
        <h4>分类</h4>
        {% for p in categoriesTree %}
            <a href="{{ p.url }}">{{ p.name }}&nbsp;({{ p.count }})</a><br>
        {% /for %}
    </div>
    <div class="sidebar-module">
        <h4>最近文章</h4> {% for p in recentPosts %} 
        {% if currentLoop.currentIndex < 10 %} <a href="{{ p.url }}">{{ p.title }}</a>
            <br /> {% /if %} {% /for %}
    </div>
</div>
<!-- /.blog-sidebar -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->